rojo = red

navegadores(propiedad, argumentos)
    -webkit-{propiedad} argumentos
    -moz-{propiedad} argumentos
    {propiedad} argumentos


.contenedor
    border 	2px
    .contenedor1
    	background rojo 

border-radiu()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

a.button
	border-radiu 5px

