doctype html
html(lang='es')
	head
		title Sebastian Pineda
		meta( charset='utf-8')
		link(rel='stylesheet', href='estilo.css')
		link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
	body
		header
			div.contanier.navegador
				div.row
					div.col-md-2
						img(src='',class='img-circle miFoto')
							
					div.col-md-2
						a(href='#')
								label Sebastian Camilo
			img(src='fondo.jpg', class='fondo-principal')
			h1.titulo Sebastian Camilo Pineda Chavez
			h2 Acerca de mi
			label Estudiante ingeniería de sistemas
			label Universidad Distrital Francisco José de Caldas

		footer
