doctype html
html(lang='es')
	head
		title Sebastian Pineda
		meta( charset='utf-8')
		link(rel='stylesheet', href='build/estilos/estilo.css')
		link(rel='stylesheet', href='build/estilos/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='build/estilos/bootstrap/css/bootstrap.css')
	body
		header
			div.cabeza-pagina.container-fluid
				div.row
					div.nav.col-md-6
						a 
							h4 inicio
					div.perfil.col-md-6
						.container-fluid
							.row
								div.nombre.col-md-6 
									h4 Sebastian Pineda
								div.caja-foto.col-md-6
									div.foto
			
			div.biografia.container-fluid
				div.titulo-biografia.row
					h1.col-md-12 Biografía
				div.contenido-biografia.row
					div.foto-nombre.col-md-6
						div.foto-biografia
						div.nombre-biografia
							h1 Sebastian Pineda
					div.datos-biografia.col-md-6
						p.
							Hola!!..Yo soy Sebastian Camilo Pineda Chavez, 
							Colombiano de la ciudad de bogotá, nacido el 11 
							de junio de 1993. Actualmente me encuentro 
							cursando 7mo semestre de ingeniería de sistemas
							en la Universidad Distrital Francisco José de 
							Caldas.
						p.
							Me apaciona la ciencia, desde corta edad he
							presentado este gusto y sobre todo hacía las
							matemáticas(considero que se me facilitan). 
							Decidí estudiar sistemas, aunque esta no era 
							mi primera elección, pues primero pensé en
							matemáticas y arquitectura. Afortunadamente las
							cosas no se dieron para estudiar estas y mi
							tercera elección fue la Ingeniería (la mejor).
						p.
							
		section
			div.intereses
				a(href = '#biografia')
					h2 intereses
			div.conocimientos
				h2 conocimientos
			div.intereses
				h2 intereses
			dev.conocimientos
				h2 conocimientos
			div.intereses
				h2 intereses
			dev.conocimientos
				h2 conocimientos
			div.intereses
				h2 intereses
			dev.conocimientos
				h2 conocimientos
			div.intereses
				h2 intereses
			dev.conocimientos
				h2 conocimientos
			div.intereses
				h2 intereses
			dev.conocimientos
				h2 conocimientos
			div.intereses
				h2 intereses
			dev.conocimientos#biografia
				h2 conocimientos
		footer
