tamano-cabeza-pagina = 60px
color-cabeza-pagina = rgba(0, 21, 24, 0.9)

tamano-biografia = 500px
color-biografia = rgba(0, 64, 72, 1)

rojo = #499E10

border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n

box-shadow(args...)
    -webkit-box-shadow args
    -moz-box-shadow args 
    box-shadow args

*
    margin 0
    padding 0
body
    text-align center

.cabeza-pagina
    position fixed
    top 0
    height tamano-cabeza-pagina
    width 100%
    background color-cabeza-pagina 
    padding 10px
    z-index 1
    border-bottom 1px solid black
    color white
    box-shadow 0px 7px 10px 0px rgba(0, 0, 0, 0.49);

    .container-fluid
        text-align right


    .foto
        height 45px
        width 45px
        background url('perfil.jpg')
        background-repeat no-repeat
        background-size 100% 100%
        background-position center

.biografia
    position fixed
    top 0px
    height tamano-biografia
    width 100%
    background color-biografia
    padding-top 60px
    z-index -1
    color white
    
    .contenido-biografia
        width 1000px
        margin auto
        margin-top 30px
        
        /*hijos div directos(primera generacion)*/
        &>div    
            padding 10px
            
            /*div con foto y nombre*/
            &:nth-child(1)
                padding-top 20px
                .foto-biografia
                    height 200px
                    width 200px
                    margin auto
                    
                    background url('perfil.jpg')
                    background-repeat no-repeat
                    background-size 100% 100%
                    background-position center
                    border-radius 50%
                    box-shadow 0 0 30px rgba(0, 0, 0, 1)
                    


            /*selecion del segundo div(contiene texto biografia)*/
            &:nth-child(2)
                padding 40px
                height 300px
                background rgba(0, 21, 24, 0.9)
                overflow auto
                border-radius 10px
                box-shadow 0 0 30px rgba(0, 0, 0, 0.7)

                
            
section
    z-index 0
    position absolute
    top tamano-biografia
    background white
    width 100%
    box-shadow 0px -5px 10px 0px rgba(0, 0, 0, 0.49);

/*rojo = #37B821
colorTitulo = #FFFFFF
colorFondo = #FFFFFF
colorNavegador = #484A40

h1.titulo
    top 100px
    color colorTitulo

body
    background colorFondo
    padding 0px
    margin 0px

.navegador
    background colorNavegador
    height 80px
    width 100%
    opacity 0.8
    position fixed
    top 0px

.fondo-principal
    position fixed
    top 0px
    left 0px
    z-index -1
    width 100%


navegadores(propiedad, argumentos)
    -webkit-{propiedad} argumentos
    -moz-{propiedad} argumentos
    {propiedad} argumentos

.contenedor
    border  2px
    .contenedor1
        background rojo 

border-radiu()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

a.button
    border-radiu 5px
*/